* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.indi-notes {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  color: white;
}

.notes-text {
  height: 80%;
  width: 100%;
  background-color: transparent;
  padding-top: 10px;
  color: black;
  border: transparent;
  outline: none;
  resize: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: small;
}

.deleteIcon {
  display: none;
}

.indi-notes:hover .deleteIcon {
  display: block;
  font-size: 20px;
}
