* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.indi-notes {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.notes-text {
  height: 80%;
  width: 100%;
  padding-top: 10px;
  background-color: transparent;
  color: black;
  border: transparent;
  outline: none;
  resize: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* padding: 5px; */
}

.deleteIcon {
  font-size: larger;
  display: none;
}

.indi-notes:hover .deleteIcon {
  display: block;
}
