.notes-container {
  padding: 20px;
}

.notes-container h1 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 40px;
}

.notesList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  width: 100%;
}

.sidebar {
  font-size: 50px;
}
